<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>{{site.data.settings.client.brand}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="about-container">

				<div class="col-lg-4 hidden-sm hidden-xs">
					<div class="client-image-container">
						<img src="/img/headshot.jpg" alt="John Graham" class="client-image" />
					</div><br />
					<strong>John Graham</strong><br>
					CEO<br>
					<a href="tel:1-509-922-7355">509-922-7355<br>
					<a href="mailto:Johngraham.legacy@gmail.com">Johngraham.legacy@gmail.com</a>
				</div>


				<div class="col-lg-4 hidden-sm hidden-xs">

						<div class="client-image-container">
							<img src="/img/claudia.jpg" alt="Claudia" class="client-image" />
						</div><br />
						<strong>Claudia Restrepo</strong><br>
						Owner<br>
						<a href="tel:1-509-922-7355">509-922-7355<br>
						<a href="mailto:claudiaph@kw.com">claudiaph@kw.com</a>
					</div>


					<div class="col-lg-4 hidden-sm hidden-xs">

							<div class="client-image-container">
								<img src="/img/seth.jpg" alt="Seth" class="client-image" />
							</div><br />
							<strong>Seth Maefsky</strong><br>
							Owner & Lead Listing Agent<br>
							<a href="tel:1-509-922-7355">509-922-7355<br>
							<a href="mailto:sethm@kw.com">sethm@kw.com</a>
						</div>
		</div>
</div>
</div>
